# Java / Maven
target/
*.class

# IDEs (IntelliJ, VS Code, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Sistema Operacional
.DS_Store
Thumbs.db

# Configurações sensíveis (opcional agora, obrigatório depois)
*.properties